body {
  background-image: url(background.jpg);
  background-size: 100%
}

.container {
  width: 1400px;
  height: 950px;
  margin: auto;
  border-radius: 3%;
  background-color:rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  color: white;
}

}
* {
   box-sizing: border-box;
   margin: 0; }


.logo {
  display: block;
  width: 250px;
  margin: auto;
  padding-top: 150px;
}

.writer {
  text-align: center;
  display: block;
  font-size: 30px;
  font-family: sans-serif;
  color: rgb(0, 221, 0);
}

.navigazione {
  margin-left: 200px;
}

.barrapulsanti {
  width: 1000px;
  height: 40px;
  background-color: rgb(0, 221, 0);
  margin:auto;
  margin-top: 5px;
}

.bottoni {
  text-align: center;
  padding-top: 10px;
}

.nome-monopattino {
  margin-top: 20px;
  font-size: 30px;
}

.Monopattino1{
  display: inline-block;
}

.indirizzo {
  margin-top: 10px;
}

.stato-carica {
  margin-top: 10px;
}

.rettangolo-arancione {
  height: 25px;
  width: 350px;
  background: rgb(245, 180, 83);
  border-radius: 5px;
}

.rettangolo-verde{
  height: 25px;
  width: 550px;
  background: rgb(30, 195, 30);
  border-radius: 5px;
}

.rettangolo-rosso{
  height: 25px;
  width: 350px;
  background:rgb(190, 65, 65);
  border-radius: 5px;
}
